[user]
	name = manute
	# email = workemail
[pull]
	rebase = true
[core]
	excludesfile = /Users/manute/.gitignore_global
[magit]
	hideCampaign = true
[credential]
	helper = store
[commit]
	gpgsign = true
[gpg]
	program = gpg2
[init]
	defaultBranch = main
